.swoosh {
  height: 6px;
  border-radius: 999px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.swoosh--top {
  background: var(--gradient-swoosh-top);
  margin-bottom: 0.5rem;
}

.swoosh--bottom {
  background: var(--gradient-swoosh-bottom);
  margin-top: 0.5rem;
}

.swoosh.swoosh--large {
  height: 8px;
  max-width: 400px;
}
